cdlib==0.4.0
gudhi==3.11.0
matplotlib==3.10.1
networkx==3.4.2
nilearn
numpy==2.2.5
pandas==2.2.3
persim==0.3.8
pyflagser>=0.4.0
python_igraph==0.11.8
python_louvain==0.16
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
statsmodels
